{% extends 'layout.html' %} {% block content %}
<h1>Signup Form</h1>
<form action="/signup.html" method="POST" class="box">
  {{ form.hidden_tag() }}
  <div class="input__wrapper">
    {{ form.username.label }}<br />
    {{ form.username(class="input__field") }}
  </div>
  <div class="input__wrapper">
    {{ form.password.label }}<br />
    {{ form.password(class="input__field") }}
  </div>
  <div class="input__wrapper">
    {{ form.dob.label }}<br />
    {{ form.dob(class="input__field") }}
  </div>
  <div class="input__wrapper">{{ form.submit(class="btn") }}</div>
</form>
{% endblock %}
